readthedocs-sphinx-search==0.3.2
nbsphinx==0.9.3
nbsphinx-link==1.3.0
sphinx-rtd-theme==2.0.0
sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-bibtex==2.6.2
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
matplotlib==3.8.2
matplotlib-inline==0.1.6
pandas==2.1.4
numpy==1.26.3
tqdm==4.66.1
torch==2.1.2
ipykernel==6.28.0
jupyter==1.0.0
